*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    }
a {
    color: black;
    text-decoration: none;
}

body {
    background-color: ivory;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    text-align: justify;
}
ul {
    list-style: none;
    padding-left: 0;
}

.boton-color {
    background-color: rgb(218, 158, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.boton-linea{
   border-color: rgb(218, 158, 255);
   border-width: 3px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   -webkit-text-fill-color: rgb(218, 158, 255);
}

.img-tarjeta{
    background-color: peachpuff;
}
/*HEADER*/
header{
    font-size: 0.8rem;
    background-color: peachpuff;
    padding-bottom: 1.5%;
    position: sticky;
    top: 0px;
    z-index: 10;
}
header ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
header a {
    font-size: 1.5rem;
}
.menu-button {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    padding-bottom: 0;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media only screen and (max-width: 500px) {
    .menu-button{
        margin-top: 0.3rem;
        margin-left: 0.3rem;
        font-size: 1.2rem;
    }
}
.desplegable{
    background-color:rgb(235, 183, 171);
}
.menu-color{
    background-color: rgb(222, 135, 167);
}

/*BUSCAR GOOGLE FONT para h1*/
h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 7rem;
    padding-top: 4%;
    padding-bottom: 2%;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
}
p {
    font-size: 1.6rem;
}


/*INDEX*/
/* Presentacion */
.presentation {
    background-image: url(../media/living_3_baja.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
} 
.titulo-presentacion {
    font-size: 8rem;
}
.boton-present{
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
.boton-link{
    -webkit-text-fill-color: rgb(218, 158, 255);
}
@media only screen and (max-width: 500px) {
    .titulo-presentacion {
        font-size: 5rem;
    }
    .boton-present{
        width: 40%;
    }
}

/* About*/
.about {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.about img {
height: 40rem;
}

.about-text {
    width: 40rem;
}
.about-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
}

/*Call to action*/
.pedido {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pedido img {
 width: 50%;
}
.boton-index{
    position: absolute;
    right: 200px;
    width: 300px;
}
@media only screen and (max-width: 500px) {
    .pedido {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .pedido img {
        width: 90%;
    }
   .boton-index{
    position: initial;
    }    
}
/*Enlaces*/
.enlaces {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
.enlaces img {
    height: 20rem;
}
.enlaces-2{
    margin-top: 100px;
}
@media only screen and (max-width: 500px) {
    .tarjeta{
        margin-bottom: 5px;
    }
}

/*.barrio-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tour-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}*/
/*Mapa*/
.mapa{
    padding-top: 7%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}


/*Footer*/
footer {
    background-color:peachpuff;
    font-size: 1rem;
}
footer ul{
    list-style: none;
}
footer a {
    text-decoration: none;
}
footer img {
    height: 30px;
}
.footer-bloque {
    display: flex;
    justify-content: space-between;
}
.footer-list{
   margin-top: 1rem;
   margin-left: 1rem;
}
.footer-izquierdo{
   margin-top: 1rem;
}

.email-form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
    height: 60%;
}

.copyright {
    display: flex;
    padding-bottom: 30px;
    font-size: 0.8rem;
    justify-content: center;
}

@media only screen and (max-width: 500px){
    
    .footer-bloque {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer ul{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .footer-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        margin-left: 0;
    }
    footer p {
        margin-top: 5%;
    }
    .email-form {
        display: flex;
        align-items: center;
        min-height: 105px;
    }
    .copyright {
        margin-top: 2rem;
    }
}

/*CONTACT US HTML*/
.contact-form {
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form p {
    margin-top: 5%;
}
.form-contacto{
    margin-left: 15%;
    margin-right: 15%;
}
.submit-button{
     padding-bottom: 2%;
}
@media only screen and (max-width: 500px){

    p {
        font-size: 1rem;
    }
    .contact-form{
        margin-right: 5%;
        margin-left: 5%;
    }
    .submit-button{
        padding-bottom: 15%;
   }
}

/*VIRTUAL TOUR HTML*/

.titulo-tour{
    margin-top: 5%;
}

.tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 10rem;
    justify-content: space-between;
}

.tour img{
    height: 40rem;
    margin-bottom: 2rem;
}

.tour-carru {
    /*margin: 5rem 15rem;*/
    width: 60%;
    display: flex;
    justify-content: center;
}

/*HOUSE RULES*/
/*.reglas{
    background-image: url(../media/living_3_baja.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: flex-end;
    justify-content: center;
    padding-right: 30px;
    font-size: 1rem;
}*/

.recursos-titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.recursos-texto{
    font-size: 1.3rem;
}
.recursos {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.box-reglas{
    width: 40%;
    font-size: 1rem;
    position: absolute;
    right: 1%;
    top: 85%;
}
.img-banner{
    width: 100%;
}
.lista-reglas{
    background-color: rgb(237, 220, 204);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 500px){
    .useful-info{
        margin-top: 200px;
    }
    .box-reglas{
        width: 90%;
        font-size: 0.7rem;
        position: absolute;
        right: 5%;
        top: 90%;
    }
    .row-recursos {
        margin-right: 0;
        margin-left: 0;
    }
}


.bottom-image-rules {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 400px;
    background-image: url(../media/Botanico1.jpg);
    background-position: center;
    background-size: cover;
}


/*NEIGHBORHOOD GUIDE*/
.mapa {
    display: flex;
}

.guide-title{
    text-align: center;
    padding: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

.guide {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
}
.guide img {
    height: 30rem;
}
.guide-text {
    width: 30rem;
}
.guide p {
    font-size: 1.3rem;
}
.guide ul {
    padding-top: 1rem;
    font-size: 1rem;
}
.lista-guide{
    background-color: ivory;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*TO DO 
-hover links
-hover images
*/
