/* Estilos Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    }
a {
    color: black;
    text-decoration: none;
    &:hover {
        color: $acento-botones;
    }
}

body {
    background-color: $fondo-color;
    font-family: $font-main;
    font-size: 62.5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    text-align: justify;
    font-size: 1.6rem;
}


ul {
    list-style: none;
    padding-left: 0;
}

h2 {
    font-family: $font-acento;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
    font-size: 7rem;
}

h3 {
    font-family: $font-acento;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
    font-size: 2rem;
}
