/* HEADER*/

header {
    font-size: 0.8rem;
    background-color: $acento-color;
    padding-bottom: 1.5%;
    position: sticky;
    top: 0px;
    z-index: 10;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    a {
        font-size: 1.5rem;
    }
    nav{
        .menu-button {
            margin-top: 1.5rem;
            margin-left: 1.5rem;
            padding-bottom: 0;
            color: black;
            text-decoration: none;
            font-size: 1.5rem;
            font-family: $font-acento;
            &:hover {
                color: $acento-botones;
            }
            &:active {
                color: $acento-botones !important;
            }
        }
        .menu-color{
            background-color: $acento-botones;
        }
        .desplegable{
            background-color:rgb(233, 210, 247);
        }
    }
    h1 {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 2.5rem;
        margin: 0;
        &:hover {
            color: black;
        }
    }
}


/*Header MQ*/

@media only screen and (max-width: 500px) {
        header{
            nav{
                .menu-button {
                    margin-top: 0.3rem;
                    margin-left: 0.3rem;
                    font-size: 1.2rem;
                }
            }
        }    
}
