/*HOUSE RULES*/


.img-banner{
    width: 100%;
}
.box-reglas{
    width: 40%;
    font-size: 1rem;
    position: absolute;
    right: 1%;
    top: 85%;
}
.lista-reglas{
    background-color: rgb(239, 226, 215);
    font-family: $font-acento;
}
.row-recursos {
    margin-right: 0;
    margin-left: 0;
}
.recursos {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.recursos-titulo{
    font-family: $font-acento;
    font-size: 1.5rem;
}
.recursos-texto{
    font-size: 1.3rem;
}
.bottom-image-rules {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 400px;
    background-image: url(../media/planetario.jpg);
    background-position: center;
    background-size: cover;
}

/*House Rules MQ*/

@media only screen and (max-width: 500px){
    .useful-info{
        margin-top: 200px;
    }
    .box-reglas{
        width: 90%;
        font-size: 0.7rem;
        position: absolute;
        right: 5%;
        top: 400px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 960px) {
    .useful-info {
        margin-top: 120px;
    }
    .box-reglas {
        width: 90%;
        font-size: 0.7rem;
        position: absolute;
        right: 5%;
        top: 700px;
    }
    .row-recursos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}