/* INDEX */
/* Presentacion */
.titulo-presentacion {
    font-size: 8rem;
}

.boton-present{
    width: 20%;
    font-family: $font-acento;
    font-size: 1.2rem;
}
.boton-link{
    -webkit-text-fill-color: $acento-botones;
}

@media only screen and (max-width: 500px) {
    .titulo-presentacion {
        font-size: 5rem;
    }
    .boton-present{
        width: 40%;
    }
}

/* About*/

.about-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    /* img {
        height: 100%;
    } */
}

/*Call to action*/
.pedido {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 50%;
    }
}
.boton-index{
    position: absolute;
    right: 200px;
    width: 300px;
}
@media only screen and (max-width: 500px) {
    .pedido {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        img {
            width: 90%;
        }
        .boton-index{
            position: initial;
            } 
    } 
}

/*Enlaces*/
.enlaces-2{
    margin-top: 100px;
}
@media only screen and (max-width: 500px) {
    .tarjeta{
        margin-bottom: 5px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 960px) {
    .tarjeta{
        margin-bottom: 15px;
    }
}

/*Mapa*/
.mapa{
    padding-top: 7%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}