/*NEIGHBORHOOD GUIDE*/
.mapa {
    display: flex;
}
.guide-title{
    text-align: center;
    padding: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

.guide {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
    img {
        height: 30rem;
    }
    p {
        font-size: 1.3rem;
    }
    ul {
        padding-top: 1rem;
        font-size: 1rem;
    }
}

.guide-text {
    width: 30rem;
}

.lista-guide{
    background-color: $fondo-color;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Neighborhood Guide MQ*/
@media only screen and (max-width: 500px){
    .mapa {
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .guide {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        img {
            height: 100%;
        }
        p {
            font-size: 0.8rem;
        }
        ul {
            padding-top: 1rem;
            font-size: 0.8rem;
        }
    }
    .guide-text {
        width: 100%;
        margin-top: 5%;
    }
    .guide-reverse {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    
    .titulo-guia {
        font-size: 3.5rem;
        padding-top: 7%;
        padding-bottom: 1%;
    }
}
@media only screen and (min-width: 501px) and (max-width: 960px) {
    .titulo-guia {
        font-size: 5rem;
        padding-top: 7%;
        padding-bottom: 1%;
    }
    .guide {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 1rem;
        img {
            height: 100%;
        }
    }
    .guide-text {
        width: 100%;
        margin-top: 5%;
    }
    .guide-reverse {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 1rem;
    }
}